
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  overflow-x: hidden !important;
  width: 100%;
  max-width: 100%;
    height: 100%;
}


body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #f5f6fa;
  color: #1e1e1e;
}




#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
.card {
  background: #ffffff;
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #dedede;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}


button {
  background: #646cff;
  color: #fff;
  border: none;
  padding: 0.6em 1.2em;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background: #535bf2;
}

a {
  color: #646cff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}
